
 @import url('https://fonts.googleapis.com/css2?family=Anta&family=Dhurjati&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Dhurjati";
    font-weight: 700;
} 
body{
    background-color: rgb(191, 81, 191);
}

#counter{
text-align: center;
font-size: 6rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
}
.container > button{
    margin: 10px;
    border-radius:100px;
    padding: 20px 20px;
    cursor: pointer; 
    background: rgb(14, 189, 17);
    transition: transform 1s ease;
}
.container>button:hover{
    transform:translateY(10px);
}
.container>button:active{
    background-color: whitesmoke;
}
p{
    color: white;
    align-items: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* .copyWright p {
    margin: 0;
} */
