
 @import url('https://fonts.googleapis.com/css2?family=Anta&family=Dhurjati&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"Dhurjati";
    font-weight: 700;
} 

#counter{
text-align: center;
font-size: 6rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container > button{
    margin: 10px;
    border-radius:100px;
    padding: 20px 20px;
    cursor: pointer; 
    background: rgb(64, 33, 240);
    transition: transform 1s ease;
}
.container>button:hover{
    transform:translateY(10px);
}
.container>button:active{
    background-color: whitesmoke;
}
